.btn{
	display: inline-block;
	vertical-align: middle;
	touch-action: manipulation;
	user-select: none;
	cursor: pointer;
	white-space: nowrap;
	text-decoration: none;
	text-align: center;
	border: 0;
	background: transparent;
	transition: all 0.15s ease-in-out;

	&--primary{
		border-radius: 6px;
		padding: 9px 15px;
		background: rgba(#1a1a1a,0.8);
		color: #00FF15;

		&:hover{
			background: rgba(#1a1a1a,1);
		}
	}

	&--secondary{
		height: 40px;
		border-radius: 6px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		padding: 9px 15px;
		background: rgba(#1a1a1a,0.8);
		color: #00FF15;

		&:hover{
			background: rgba(#1a1a1a,1);
		}
	}

	&--flex{
		display: flex;
		align-items: center;

		img{
			width: 11px;
		}
	}
}
