.fs-xs{
	font-size: 14px;
}

.fs-base{
	font-size: 16px;
}

.fs-md{
	font-size: 18px;
}

.fs-lg{
	font-size: 20px;
}

.fs-xl{
	font-size: 40px;

	@media(max-width: 600px){
		font-size: 26px;
	}
}

.fw-bold{
	font-weight: 600;
}
