.input {
	margin: 0;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	white-space: nowrap;
	text-decoration: none;
	font-family: 'Work Sans', sans-serif;
	border: 1px solid gray;

	&--search {
		height: 40px;
		width: 100%;
		padding: 0 16px;
		padding-left: 16px;
		font-size: 1rem;
		color: #1a1a1a;
		border: 1px solid #1a1a1a;
		border-radius: 6px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		border-right: 0px;


		&::placeholder {
			font-weight: 300;
		}

		&:focus-visible {
			outline: -webkit-focus-ring-color auto 0px;
		}
	}
}

input[type='search'] {
	-webkit-appearance: none;
}
